# .cursor
# .windsurfrules
.DS_Store
target
.env.*
.env
*/**/node_modules
node_modules
*/**/playwright-report
*/**/test-results
.next
*/**/.next
.turbo
*/**/.turbo
dist
*/**/dist
*.tsbuildinfo
frontend/web/reports/
